.cell {
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.even {
    background-color: orangered;
}
.odd {
    background-color: white;
}
.dot {
    height: 3vh;
    width: 3vh;
    border-radius: 50%;
}
.horse-block {
    width: 50%;
    height: 50%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
